html, body {
    padding: 0;
    margin: 0;
    background: #2f3640;
    color: aliceblue;;
    font-family: "Arial", sans-serif;
}

.container {
    margin: 0 auto;
    padding: 15px;
    max-width: 1100px;
}

.header,
.content{
    padding: 20px 0;
    width: 100%;
    text-align: center;
}

.nav ul {
    display: flex;
    padding: 0;
    flex-direction: row;
    justify-content: center;
}

.nav ul li {
    display: block;
    width: 160px;
    text-align: center;
    margin: 0 8px;
    padding: 20px 0;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 5px;
}

.nav ul li a {
    color: #fff;
    text-decoration: none;
}

.nav ul li:hover {
    background: #fff;
    cursor: pointer;
}

.nav ul li:hover > a {
    color: #000;
    font-weight: bold;
}

a {
    color: #fff;
    text-decoration: none;
}

.btn {
    margin: 5px;
    display: block;
    float: left;
    padding: 20px;
    background: #fff;
    font-size: 1.1rem;
    color: #000;
    border: 0;
    outline: 0;
    border-radius: 5px;
    cursor: pointer;
}

.select,
.input {
    margin: 5px;
    padding: 18px 20px;
    display: block;
    float: left;
    font-size: 1.3rem;
    color: #fff;
    border: 0;
    outline: 0;
    border-bottom: 2px solid #fff;
    background: transparent;
}

.select option {
    color: #000;
}

form.calc {
    display: block;
    width: 100%;
}